<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <!-- 查询用户是否存在 -->
    <select id="findUserByEmail" resultType="com.example.androidthesisserver.entity.User">
        SELECT * FROM users WHERE email = #{email}
    </select>

    <!-- 插入用户 -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (email, is_first_login, create_time, update_time)
        VALUES (#{email}, #{isFirstLogin}, #{createTime}, #{updateTime})
    </insert>

    <!-- 更新用户信息 -->
    <update id="updateUser">
        UPDATE users
        SET is_first_login = #{isFirstLogin}, update_time = #{updateTime}
        WHERE id = #{id}
    </update>

</mapper>
